<section class="card mb-4" id="certifications">
    <h2 class="card-header text-center">Certifications</h2>
    <div class="card-body">
        {% for cert in site.data.certifications limit: 1 %}
        <div class="d-flex align-items-start mb-2">
            <i class="bi bi-{{ cert.icon }} fa-3x big--icons me-2"></i>
            <div class="flex-grow-1">
                <h3 class="h4 mb-1">{{ cert.name }}: {{ cert.title }}</h3>
                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                    <h5 class="mb-0"><a href="{{ cert.url }}" class="text-decoration-none">{{ cert.name }}</a></h5> <small class="text-uppercase fw-bold text-muted"><time datetime="2020-01">{{ cert.startdate }}</time> &ndash; <time datetime="2020-12">{{ cert.enddate }}</time></small>
                </div>
            </div>
        </div>
        <p class="card-text">{{ cert.description }}</p>
        <h6 class="card-text">Total Hours: {{ cert.hours }}</h6>
        <p class="card-text">{{ cert.validation }}</p>
        <hr>
        {% endfor %}
        <div class="collapse" id="collapse-education">
            {% for cert in site.data.certifications offset: 1 %}
            <div class="d-flex align-items-start mb-2">
                <i class="bi bi-{{ cert.icon }} fa-3x big--icons me-2"></i>
                <div class="flex-grow-1">
                    <h3 class="h4 mb-1">{{ cert.name }}: {{ cert.title }}</h3>
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                        <h5 class="mb-0"><a href="{{ cert.url }}" class="text-decoration-none">{{ cert.name }}</a></h5>
                        <small class="text-uppercase fw-bold text-muted"><time datetime="2020-01">{{ cert.startdate }}</time> &ndash; <time datetime="2020-12">{{ cert.enddate }}</time></small>
                    </div>
                </div>
            </div>
            <p class="card-text">{{ cert.description }}</p>
            <h6 class="card-text">Total Hours: {{ cert.hours }}</h6>
            <p class="card-text">{{ cert.validation }}</p>
            <hr>
            {% endfor %}
        </div>
        {% for cert in site.data.certifications offset: 1 %} 
        <button type="button" class="btn btn-lg default--btn" data-bs-toggle="collapse" data-bs-target="#collapse-education" aria-expanded="false" aria-controls="collapse-education">Show all</button>
        {% break %}
        {% endfor %}
    </div>
</section>
