<section class="card mb-4" id="college">
    <h2 class="card-header text-center">College</h2>
    <div class="card-body">
        {% for ed in site.data.education limit: 3 %}
        <div class="d-flex align-items-start mb-2">
            <i class="bi bi-{{ ed.icon }} fa-3x big--icons me-2"></i>
            <div class="flex-grow-1">
                <h3 class="h4 mb-1">{{ ed.degree }}</h3>
                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                    <h5 class="mb-0"><a href="{{ ed.url }}" class="text-decoration-none">{{ ed.name }}</a></h5> <small class="text-uppercase fw-bold text-muted"><time datetime="2020-01">{{ ed.startdate }}</time> &ndash; <time datetime="2020-12">{{ ed.enddate }}</time></small>
                </div>
            </div>
        </div>
        <p class="card-text">{{ ed.description }}</p>
        <hr>
        {% endfor %}
        <div class="collapse" id="collapse-education">
            {% for ed in site.data.education offset: 3 %}
            <div class="d-flex align-items-start mb-2">
                <i class="{{ ed.icon }} fa-3x fa-fw text-primary me-2"></i>
                <div class="flex-grow-1">
                    <h3 class="h4 mb-1">{{ ed.degree }}</h3>
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                        <h5 class="mb-0"><a href="{{ ed.url }}" class="text-decoration-none">{{ ed.name }}</a></h5>
                        <small class="text-uppercase fw-bold text-muted"><time datetime="2020-01">{{ ed.startdate }}</time> &ndash; <time datetime="2020-12">{{ ed.enddate }}</time></small>
                    </div>
                </div>
            </div>
            <p class="card-text">{{ ed.description }}</p>
            <hr>
            {% endfor %}
        </div>
        {% for ed in site.data.education offset: 3 %}
        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#collapse-education" aria-expanded="false" aria-controls="collapse-education">Show all</button>
        {% break %}
        {% endfor %}
    </div>
</section>