{% for profile in site.data.profile %}
<section class="card mb-4" id="contact-info">
    <h2 class="card-header text-center">Contact Info</h2>
    <div class="card-body">
        <div class="d-flex align-items-start" id="circle">
            <div class="me-3 icon--container">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill bg--circle" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <i class="bi bi-person-fill main--icon"></i>
            </div>
            <div class="flex-grow-1">
                {{ profile.firstname }} {{ profile.middlename }} {{ profile.lastname }}
                <hr>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="me-3 icon--container">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill bg--circle" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <i class="bi bi-telephone-fill main--icon"></i>
            </div>
            <ul class="flex-grow-1 list-unstyled">
                <li><a href="tel:+1{{ profile.pubphone }}">
                    {{ profile.pubphone }}
                </a></li>
                {% if profile.skype %}
                <li><i class="bi bi-skype secondary--icon"></i> <a href="#0">Skype_User</a></li>
                {% endif %}
                {% if profile.whatsapp %}
                <li><i class="fab fa-fw fa-whatsapp text-muted"></i> <a href="#0">Whatsapp_User</a></li>
                {% endif %}
                <li><hr></li>
            </ul>
        </div>
        <div class="d-flex align-items-start">
            <div class="me-3 icon--container">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill bg--circle" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <i class="bi bi-envelope-fill main--icon" data-fa-transform="shrink-8"></i>
            </div>
            <ul class="flex-grow-1 list-unstyled">
                <li><a href="mailto:mail@domain.com">
                    {{ profile.email }}
                </a></li>
                
                {% if profile.linkedin %}
                <li><i class="bi bi-linkedin secondary--icon"></i> <a href="https://www.linkedin.com/in/{{ profile.linkedin }}/">{{ profile.linkedin }}</a></li>
                {% endif %}
                {% if profile.twitter %}
                <li><i class="bi bi-twitter secondary--icon"></i> <a href="https://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a></li>
                {% endif %}
                {% if profile.instagram %}
                <li><i class="bi bi-instagram secondary--icon"></i> <a href="{{ profile.instagram }}">{{ profile.linkedin }}</a></li>
                {% endif %}
                {% if profile.youtube %}
                <li><i class="bi bi-youtube secondary--icon"></i> <a href="https://www.youtube.com/@{{ profile.youtube }}">@{{ profile.youtube }}</a></li>
                {% endif %}
                {% if profile.pinterest %}
                <li><i class="bi bi-pinterest secondary--icon"></i> <a href="https://www.pinterest.com/{{ profile.pinterest }}/">{{ profile.pinterest }}</a></li>
                {% endif %}
                <li><hr></li>
            </ul>
        </div>
        <div class="d-flex align-items-start">
            <div class="me-3 icon--container">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill bg--circle" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <i class="bi bi-house-fill main--icon" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <address class="mb-0">
                    {% if profile.showpermaddress %}
                    {% if profile.privacyaddress == no %}
                    {{ profile.permaddress.street }}
                    <br>
                    {% endif %}
                    {{ profile.permaddress.city }}
                    <br>
                    {{ profile.permaddress.country }}
                    {% else %}
                    {% if profile.privacyaddress == no %}
                    {{ profile.tempaddress.street }}
                    <br>
                    {% endif %}
                    {{ profile.tempaddress.city }}
                    <br>
                    {{ profile.tempaddress.country }}
                    {% endif %}
                </address>
                {% if profile.showcontactform %}
                <hr>
                {% endif %}
            </div>
        </div>
        {% if profile.showcontactform %}
        <div class="d-flex align-items-start">
            <div class="me-3 icon--container">
                <i class="fas fa-circle text-primary"></i>
                <i class="fa-solid fa-at text-dark" data-fa-transform="shrink-8"></i>
                <i class="fa-solid fa-at"></i>
            </div>
            <div class="flex-grow-1">
                <form action="mailto:{{ profile.email }}">
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="name">Name:</span>
                            <input type="text" class="form-control" name="name" placeholder="Your name here" aria-label="Your name" aria-describedby="name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="email">Email:</span>
                            <input type="email" class="form-control" name="email" placeholder="Your email here" aria-label="Your email" aria-describedby="email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="message"><i class="fas fa-pencil-alt"></i></span>
                            <textarea class="form-control" name="message" placeholder="Your message here" aria-label="Your message" aria-describedby="message" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Send message</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}