<nav class="navbar navbar-expand-sm bg-dark-subtle fixed-top">
    <div class="container-fluid">
       <a class="navbar-brand nav--title" href="index.html">
          <img src="/assets/img/cvBSI_icon.png" alt="Logo" width="32" height="32" class="d-inline-block align-text-center">
          <div class="d-none d-md-inline-block title--firstname">Bryan Scott</div>
          <div class="d-inline-block title--lastname">HERR</div>
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if page.title == 'About' %}active{% endif %}" href="index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.title == 'Work' %}active{% endif %}" href="work.html">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.title == 'Education' %}active{% endif %}" href="education.html">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.title == 'Portfolio' %}active{% endif %}" href="portfolio.html">Portfolio</a>
            </li>
          </ul>
        </div>
    </div>
 </nav>