{% for profile in site.data.profile %}
<ul class="list-unstyled social" id="social-icons">
    {% if profile.linkedin %}
    <li><a href="https://www.linkedin.com/in/{{ profile.linkedin }}/"><i class="fab fa-fw fa-linkedin text-muted"></i></a></li>
    {% endif %}
    {% if profile.twitter %}
    <li><a href="https://twitter.com/{{ profile.twitter }}"><i class="fab fa-fw fa-twitter text-muted"></i></a></li>
    {% endif %}
    {% if profile.instagram %}
    <li class="mb-2"><a href="{{ profile.instagram }}"><i class="fab fa-fw fa-instagram text-muted"></i></a></li>
    {% endif %}
    {% if profile.youtube %}
    <li class="mb-2"><a href="https://www.youtube.com/@{{ profile.youtube }}"><i class="fab fa-fw fa-youtube text-muted"></i></a></li>
    {% endif %}
    {% if profile.pinterest %}
    <li class="mb-2"><a href="https://www.pinterest.com/{{ profile.pinterest }}/"><i class="fab fa-fw fa-pinterest text-muted"></i></a></li>
    {% endif %}

</ul
{% endfor %}