#footer {
    ul {
        li {
            a {
                color: #262626;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
    form {
        .btn.btn-info {
    border-radius: 0;
        }
    }
}
