#header-navbar {
    nav {
        background: $backgroundPrimary;
        font-weight: 500;
    
        li {
            margin-left: 15px;
        }
    }
}

#main-menu {
    a.active {
        color: $accentColor;
    }

    @media only screen and (max-width: 600px) {
        #main-menu {
            img {
                // width: 150px;
            }
        }
    }
}