{% for profile in site.data.profile %}
{% if profile.showtestimonialscard %}
<div class="card mb-4">
    <h2 class="card-header text-center">Testimonials</h2>
    <div class="card-body">
        <div id="carousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators mb-0">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" aria-label="Slide 1"  class="active bg-secondary"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2" class="bg-secondary"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3" class="bg-secondary"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4" class="bg-secondary"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5" class="bg-secondary"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <figure class="text-center mb-4">
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ipsum porttitor, tempor risus eget, finibus enim.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Firstname Lastname</figcaption>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="text-center mb-4">
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ipsum porttitor, tempor risus eget, finibus enim. Morbi porta ligula elit, at eleifend tellus tincidunt sit amet. Nunc ex ligula, rutrum vel lorem vel, auctor placerat mi.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Firstname Lastname</figcaption>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="text-center mb-4">
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ipsum porttitor, tempor risus eget, finibus enim. Morbi porta ligula elit, at eleifend tellus tincidunt sit amet. Nunc ex ligula, rutrum vel lorem vel, auctor placerat mi. Duis sed ante ultrices, viverra elit eu, ultricies sem. Donec quis porta sapien. Cras at lacus purus.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Firstname Lastname</figcaption>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="text-center mb-4">
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ipsum porttitor, tempor risus eget, finibus enim. Morbi porta ligula elit, at eleifend tellus tincidunt sit amet. Nunc ex ligula, rutrum vel lorem vel, auctor placerat mi.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Firstname Lastname</figcaption>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="text-center mb-4">
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ipsum porttitor, tempor risus eget, finibus enim.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Firstname Lastname</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}